version: "3.8"
services:
  login-service:
    build: ./login-service
    ports:
      - "8000:8000"
    environment:
      - KAKAO_REST_API_KEY=${KAKAO_REST_API_KEY}
      - KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}
      - KAKAO_REDIRECT_URI=${KAKAO_REDIRECT_URI}
      - ADMIN_REDIRECT_URI=${ADMIN_REDIRECT_URI}
      - ADMIN_KAKAO_IDS=${ADMIN_KAKAO_IDS}
      - USER_SERVICE_URL=http://user-service:8001
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - user-service

  user-service:
    build: ./user-service
    ports:
      - "8001:8001"
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=5432
      - DB_NAME=${DB_NAME}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
  pay-service:
    build: ./pay-service
    ports:
      - "8002:8002"
    environment:
      - TOSS_CLIENT_KEY=${TOSS_CLIENT_KEY}
      - TOSS_SECRET_KEY=${TOSS_SECRET_KEY}
      - USER_SERVICE_URL=http://user-service:8001
    depends_on:
      - user-service

  place-service:
    build: ./place-service
    ports:
      - "8003:8003"
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=5432
      - DB_NAME=${DB_NAME}
      - NAVER_CLIENT_ID=${NAVER_CLIENT_ID}
      - NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}

  notification-service:
    build: ./notification-service
    ports:
      - "8004:8004"
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=5432
      - DB_NAME=${DB_NAME}
      - FIREBASE_CREDENTIALS_JSON=${FIREBASE_CREDENTIALS_JSON}
